<nav class="navbar navbar-default" role="navigation">
	<ul class="nav navbar-nav">
		<li><a href="/">calc</a></li>
		<li><a href="/freelance">freelance</a></li>
		<li><a href="/tools">tools</a></li>
	</ul>
</nav>